#header-container {
  text-transform: capitalize;
  // height: 80px;
  // display: flex;
  // justify-content: space-between;
  white-space: nowrap;
  align-items: center;
  padding: 0px 10%;
}
// .header-logo {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   white-space: nowrap;
//   padding: 6px;
//   border-radius: 4px;
//   cursor: pointer;
// }

// .header-item,
// .header-course {
//   text-transform: capitalize;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   white-space: nowrap;
//   padding: 6px;
//   border-radius: 4px;
//   span {
//     color: #333;
//     font-size: 15px;
//     font-weight: 450;
//   }

//   i {
//     margin-top: 3px;
//   }

//   a {
//     text-decoration: none;
//     color: #333;
//   }
// }

// .header-course:hover > .list-down {
//   display: flex;
// }
// .fa-sort-desc {
//   margin-left: 5px;
//   margin-bottom: 8px;
// }
// .fa-home {
//   margin-bottom: 4px;
// }
// .header-course {
//   i {
//     margin-top: 3px;
//   }

//   span {
//     font-size: 15px;
//     font-weight: 450;
//     color: #333;
//   }
// }
// .list-down {
//   position: absolute;
//   height: 170px;
//   width: 100px;
//   flex-direction: column;
//   // justify-content: space-between !important;
//   align-items: center !important;
//   border-radius: 5px;
//   display: none;
//   top: 60px;
//   background: #f5f5f5;
//   // border: 1px #333 solid;
//   li {
//     width: 100%;
//     height: 60px;
//     padding-top: 5px;
//     padding-bottom: 5px;
//     text-align: center;
//     line-height: 30px;
//     list-style-type: none;
//     cursor: pointer;
//     // padding: 10px;
//   }

//   li:hover {
//     background-color: #f36223;
//     color: white;
//     border-radius: 5px;
//     a {
//       color: white;
//     }
//   }
// }

// .header-item:hover {
//   background-color: #f36223;
//   cursor: pointer;
//   span {
//     color: white;
//   }
// }

.log-button {
  // width: 78px;
  // cursor: pointer;
  // height: 40px;
  // width: fit-content;
  // white-space: nowrap;
  // background-color: #a8dcff;
  margin-right: 10px;
  margin-bottom: 0;
}

.avatar {
  min-width: 46px;
  height: 46px;
  cursor: pointer;
  img {
    border-radius: 50%;
    width: 46px;
    height: 46px;
    object-fit: contain;
  }
}
// .nav-link.active {
//   color: aqua;
// }
.navbar-light .navbar-nav .nav-link.active {
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  color: #3a3a3a;
}

.navbar-light .navbar-nav .nav-link.active:hover {
  background-color: #f36223;
  color: white;
}

.dropdown-menu {
  li {
    a:hover {
      background-color: #f36223;
      color: white;
    }
  }
}

.container-profile-setting {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 1023px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;

  .profile-container {
    width: 500px;
    height: 616px;
    background: #ffffff;
    box-shadow: 0px 3px 6px -3px rgba(23, 24, 24, 0.08),
      0px 8px 20px -4px rgba(23, 24, 24, 0.12);
    border-radius: 8px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
    animation: show 0.4s ease-in-out;

    .profile-header {
      width: 100%;
      height: 62px;
      border-bottom: 1px solid #c9ccd0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 17px;
    }

    .profile-setting {
      width: 100%;
      height: auto;
      padding: 0px 20px 0px 20px;
      overflow-x: visible;

      .profile-setting-item {
        height: 60px;
        margin: 12px;

        .profile-element {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-bottom: 8px;
          border-bottom: 1px solid #a3a3a3;

          img {
            border-radius: 50%;
            width: 70px;
            height: 70px;
            object-fit: contain;
          }

          img:hover {
            cursor: pointer;
          }

          .email {
            float: right;
          }
        }

        .profile-input-element {
          align-items: center;
          padding-bottom: 8px;
          border-bottom: 1px solid #a3a3a3;
          display: flex;
          justify-content: space-between;
          gap: 20px;

          .btn-save-changes {
            margin-top: 20px;
            color: #3498db;
            cursor: pointer;
          }

          .input-box {
            width: 66%;

            .btn-profile-signout {
              display: flex;
              justify-content: flex-start;
              gap: 10px;
              cursor: pointer;
            }
          }

          .title-element {
            display: flex;
            justify-content: flex-start;
          }

          input {
            width: 100%;
          }
        }
      }
    }
  }
}

.title-element {
  font-size: 14px;
  color: #333;
  display: flex;
  justify-content: end;
}
.main-content-element {
  font-size: 16px;
  color: black;
}

