.tests-list-container {
  display: flex;
  #navbar-filter {
    min-width: 200px;
    position: relative;
    z-index: 99;

    .filter {
      .orange-text {
        color: #f26222;
      }
    }
  }

  #list-tests {
    margin-top: 20px;
    margin-left: 30px;
    min-width: 80%;
  }
}
.col-name-test {
  width: 50%;
  .test-name-text {
    color: #f26222;
    font-size: 15px;
    font-weight: 600;
  }
  .test-name-text:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}
.align-text {
  text-align: center;
}

h4 {
  color: #f26222;
  font-weight: 600;
}

.mt-50 {
  margin-top: 50px;
}
